{% if enums %}
{%- set pybind_enum = 'enum_' + bw_class.lower() -%}
auto {{ pybind_enum }} = py::dict();
m.attr("{{ bw_class }}s") = {{ pybind_enum }};
{% for e in enums -%}
{{ pybind_enum }}["{{ e }}"] = py::cast(BWAPI::{{ bw_class }}s::{{ e }});
{% endfor %}
{% endif %}
