#pragma once
#include <pybind11/pybind11.h>
#include <BWAPI.h>
#include <BWAPI/Client.h>

using namespace BWAPI;

namespace py = pybind11;

namespace Pybrood {

template <class Weakref, class BWSetContainer>
inline py::set set_converter(const BWSetContainer&amp; src){
    py::set out;
    for (auto it = src.cbegin(); it != src.cend(); ++it )
        out.add(py::cast(Weakref(*it)));
    return out;
}

template <class Weakref, class BWSetContainer>
inline py::set ptr_set_converter(const BWSetContainer&amp; src){
    py::set out;
    for (auto it = src.cbegin(); it != src.cend(); ++it )
        out.add(py::cast(Weakref(&amp;(*it))));
    return out;
}

typedef std::array<int, 2> UniversalPosition;

template <class Point>
inline UniversalPosition convert_position(const Point&amp; src){
    return {src.x, src.y};
}

{% for t in ('Position', 'WalkPosition', 'TilePosition') %}
namespace {{ t }}s
{
    {% for k in ('Invalid', 'None', 'Unknown', 'Origin')
     %}const UniversalPosition {{ k }} = convert_position<BWAPI::{{ t }}>(BWAPI::{{ t }}s::{{ k }});
    {% endfor %}
}
{% endfor %}

{% for k in classes
 %}class {{ k }};
{% endfor %}

}
