{{ class_name }}
{{ '=' * class_name|length }}

Class
-----

.. py:class:: pybrood.{{ class_name }}
{% for m in methods %}
    .. py:method:: {{ m }}
{%- endfor %}

{% if enum['items'] %}
Enumeration
-----------

.. py:data:: pybrood.{{ class_name }}s
{% for _, e in enum['items'] %}
    .. py:attribute:: {{ e }}
{%- endfor %}
{% endif %}
