py::module game = m.def_submodule("game", "Game control functions");
{%- for m in methods %}
game.def("{{ m.name }}", {{ m.code }}
    {%- if m.arg_defaults %}, {% endif %}{{ m.arg_defaults }}
    {%- if m.str_modifiers %}, {% endif %}{{ m.str_modifiers }});
{%- endfor -%}
