#pragma once
#include "common.h"

class Pybrood{{ proxy_type }}
{
public:
    {{ pointer_type }} obj;
    Pybrood{{ proxy_type }}({{ pointer_type }});
    {% for m in methods -%}
    {{ m }};
    {% endfor %}
};
