#include "../include/common.h"
#include "../include/{{ header_file }}"

namespace Pybrood {

{{ py_name }}::{{ py_name }}(BWAPI::{{ py_name }} iobj) : obj(iobj){};
{% for m in methods -%}
{{ m }};
{% endfor %}

}
