#pragma once
#include "common.h"

namespace Pybrood {

class {{ py_name }}
{
public:
    BWAPI::{{ py_name }}{{ pline }} obj;
    {{ py_name }}(BWAPI::{{ py_name }}{{ pline }});
    {% for m in methods -%}
    {{ m }};
    {% endfor %}
};

}
