#include "include/common.h"
{% for f in h_files
%}#include "include/{{ f }}"
{% endfor %}


PYBIND11_PLUGIN(pybrood) {
    py::module m("pybrood", "BWAPI python module");

    {% for x in ('', 'WALK', 'TILE')
     %}m.attr("{{ x }}POSITION_SCALE") = py::cast(BWAPI::{{ x }}POSITION_SCALE);
    {% endfor %}

    {% for f in cpp_files
     %}#include "pybind/{{ f }}"
    {% endfor %}

    m.attr("client") = py::cast(BWAPI::BWAPIClient);
    m.attr("game") = py::cast(PyBinding::Wrapper::Game(BWAPI::BroodwarPtr));

    return m.ptr();
}
