#include "../include/common.h"
#include "../include/{{ header_file }}"

namespace PyBinding {
namespace Wrapper {

{{ wrap_class }}::{{ wrap_class }}({{ source_ns }}{{ source_classptr }} iobj) : obj(iobj){};

{% for m in methods -%}
{{ m.rettype.format(ns="") }} {{ wrap_class }}::{{ m.name }}({{ m.argline_full.format(ns="") }}){
{{ m.func_body.format(ns="")|indent(4, True) }}
}
{% endfor %}

}
}
